			<h:panelGroup>
				<p:outputLabel for="${id}" value="${label}"/><br/>
        		<p:calendar id="${id}" value="${value}" showOn="button" $utils.attribute("mask",$field.mask) $utils.attribute("pattern",$field.pattern) />
       		</h:panelGroup>
