			<h:panelGroup>
				<p:outputLabel for="${id}" value="${label}"/><br/>
	        		<p:selectOneMenu id="${id}" value="${value}">
	        			<f:selectItem itemLabel="" itemValue="#{null}" />
	        			<f:selectItems value="#{$field.namedItems}" var="item" itemLabel="#{msg[item.descricao]}" itemValue="#{item}"${utils.attributeBool(", filter",${field.selectWithFilter},false)}${utils.attribute(", filterMatchMode",${field.filterMatchMode})} />
	        		</p:selectOneMenu>
       		</h:panelGroup>