<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" 
	template="/templates/template-crud.xhtml">

	<ui:define name="search">
		<p:panelGrid columns="3" columnClasses="ui-grid-col-4" layout="grid" styleClass="ui-panelgrid-blank">
#foreach($field in $modelClass.viewedFields)
	#if($field.filter)
		#set($id = "${field.name}Filter")
		#set($label = "#{label.${field.name}}")
		#set($value = "#{${modelClass.controllerInstanceName}.filter.${field.name}}")
		#if($field.stringType)
		
#parse("./inputs/input-string.vm")
       	#elseif($field.textType)
       	
		</p:panelGrid>
		<p:panelGrid columns="1" columnClasses="ui-grid-col-12" layout="grid" styleClass="ui-panelgrid-blank">
       	
#parse("./inputs/text-area.vm")

		</p:panelGrid>
		
		<p:panelGrid columns="3" columnClasses="ui-grid-col-4" layout="grid" styleClass="ui-panelgrid-blank">
       	#elseif($field.integerType)
		
#parse("./inputs/input-integer.vm")
       	#elseif($field.decimalType)
		
#parse("./inputs/input-decimal.vm")
       	#elseif($field.localDateType)
		
#parse("./inputs/input-date.vm")
       	#elseif($field.enumType)
		
#parse("./inputs/select-enum.vm")
		#end
	#end
#end

		</p:panelGrid>
	</ui:define>
	
	<ui:define name="edit">
		<p:panelGrid columns="3" columnClasses="ui-grid-col-4" layout="grid" styleClass="ui-panelgrid-blank">
#foreach($field in $modelClass.viewedFields)
	#if($field.viewed)
		#set($id = "${field.name}")
		#set($label = "#{label.${field.name}}#if($field.required) *#end")
		#set($value = "#{${modelClass.controllerInstanceName}.model.${field.name}}")
		#if($field.stringType)
		
#parse("./inputs/input-string.vm")
       	#elseif($field.textType)
       	
		</p:panelGrid>
		<p:panelGrid columns="1" columnClasses="ui-grid-col-12" layout="grid" styleClass="ui-panelgrid-blank">
       	
#parse("./inputs/text-area.vm")

		</p:panelGrid>
		
		<p:panelGrid columns="3" columnClasses="ui-grid-col-4" layout="grid" styleClass="ui-panelgrid-blank">
       	#elseif($field.integerType)
		
#parse("./inputs/input-integer.vm")
       	#elseif($field.decimalType)
		
#parse("./inputs/input-decimal.vm")
       	#elseif($field.localDateType)
		
#parse("./inputs/input-date.vm")
       	#elseif($field.enumType)
		
#parse("./inputs/select-enum.vm")
		#end
	#end
#end

		</p:panelGrid>
	</ui:define>
	
	<ui:define name="list">
	  <p:dataTable id="dataTableList" var="item" value="#{${modelClass.controllerInstanceName}.list}" reflow="true" rows="10" paginator="true" selectionMode="single" selection="#{${modelClass.controllerInstanceName}.model}" rowKey="#{item.id}" lazy="true">
	  	  <p:ajax event="rowSelect" listener="#{${modelClass.controllerInstanceName}.onRowSelect}" update="contentPanel"/>
#foreach($field in $modelClass.viewedFields)
	#if($field.viewedOnTable)
		#if($field.stringType)
		
	      <p:column headerText="#{label.${field.name}}" style="text-align:left;" ${utils.attribute("width",$field.columnWidth)}>
	          <h:outputText value="#{item.${field.name}}" />
	      </p:column>
	    #elseif($field.integerType)
	    
	      <p:column headerText="#{label.${field.name}}" style="text-align:center;" ${utils.attribute("width",$field.columnWidth)}>
	          <h:outputText value="#{item.${field.name}}" />
	      </p:column>
	    #elseif($field.decimalType)
	    
	      <p:column headerText="#{label.${field.name}}" style="text-align:right;" ${utils.attribute("width",$field.columnWidth)}>
	          <h:outputText value="#{item.${field.name}}">
	          	#if($field.mask)
	          	<f:convertNumber pattern="${field.pattern}"></f:convertNumber>
	          	#end
	          </h:outputText>
	      </p:column>
	    #elseif($field.localDateType)
	    
	      <p:column headerText="#{label.${field.name}}" style="text-align:center;" ${utils.attribute("width",$field.columnWidth)}>
	          <h:outputText value="#{item.${field.name}}" />
	      </p:column>
	    #elseif($field.enumType)
	    
	      <p:column headerText="#{label.${field.name}}" style="text-align:center;" ${utils.attribute("width",$field.columnWidth)}>
	          <h:outputText value="#{msg[item.${field.name}.descricao]}" />
	      </p:column>
	     #end
	#end
#end	      
	  </p:dataTable>	  
	</ui:define>

</ui:composition>